[submodule "libs/JUCE"]
	path = libs/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "libs/eigen"]
	path = libs/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "libs/pitch-detection"]
	path = libs/pitch-detection
	url = https://github.com/sevagh/pitch-detection.git
